* {
  font-family: "Manrope", "Montserrat", sans-serif;
}
.page1 {
  width: 100%;
  height: 750px;
  color: white;
  background-image: url("images/landscape.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  display: flex;
  justify-content: center;
  position: relative;
}
.page1__beam {
  width: 500px;
  height: 775px;
  position: absolute;
  right: 900px;
  z-index: 1;
}
.page1__menu {
  width: 95%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 5px;
  border-bottom: 1px solid grey;
  z-index: 2;
}
.menu__logo {
  width: 178px;
  height: 81.5px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.menu__link {
  width: 900px;
  height: 40px;
  box-sizing: border-box;
  padding-left: 300px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 17px;
}
.menu__info {
  width: 365.37px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__box {
  width: 346.86px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.box__phone {
  width: 257px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.phone__info {
  width: 168px;
  height: 48px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.phone__info_text {
  width: 168px;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.phone__info_number {
  width: 134px;
  height: 26px;
  font-size: 17px;
  display: flex;
  align-items: center;
}
.page1__slogan {
  width: 500px;
  height: 400px;
  display: flex;
  margin-bottom: 85px;
  position: absolute;
  bottom: 57px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.slogan__word {
  font-size: 50px;
  height: 10px;
}
.slogan__word2 {
  height: 10px;
  display: flex;
  flex-direction: row;
}
.slogan__word2-yellow {
  font-size: 50px;
  color: #eec044;
  margin-right: 10px;
}
.slogan__button {
  height: 70px;
}
button {
  width: 200px;
  height: 60px;
  color: white;
  font-size: 15px;
  background-color: 74B472;
  border-radius: 15px;
  border: 0;
  margin-top: 30px;
}
.page2 {
  width: 100%;
  height: 770px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.page2__background {
  height: 97%;
  width: auto;
  position: absolute;
  top: 0;
  left: 70px;
  z-index: 1;
}
.page2__info {
  z-index: 2;
  width: 40%;
  margin: 0;
  height: 70%;
  box-sizing: border-box;
  padding-right: 100px;
  position: relative;
}
.info__subtitle {
  color: #eec044;
  font-size: 22px;
  margin: 10px 0;
}
.info__title {
  font-size: 45px;
  margin: 10px 0;
}
.info__text {
  color: #878680;
  font-size: 18px;
  margin: 40px 0;
}
.info__sub-subtitle {
  font-size: 21px;
  color: #4baf47;
  margin: 0;
}
.info__sub {
  width: 200px;
  height: 50px;
  margin: 10px 0;
}
.sub__text {
  color: #878680;
  font-size: 18px;
}
.info__image {
  width: 180px;
  height: 100px;
  background-image: url("images/wp1821086.jpg");
  background-repeat: no-repeat;
  background-size: 180px;
  border-radius: 5px;
  position: absolute;
  right: 110px;
  bottom: 130px;
}
.page2__images {
  z-index: 2;
  width: 40%;
  margin: 0;
  height: 68%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.images__half {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.half__tourist {
  width: 90%;
  height: 65%;
  background-image: url("images/tourist.png");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 70px 0 0 0;
}
.half__map {
  width: 90%;
  height: 30%;
  background-image: url("images/world-image.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.map__30 {
  font-size: 100px;
  font-family: "Courier New";
  margin: 0;
}
.map__text {
  font-size: 17px;
  color: #4baf47;
  margin: 0;
}
.images__tower {
  width: 49%;
  height: 100%;
  background-image: url("images/Eiffel-Tower.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 0 70px 0 0;
}
.page3 {
  width: 100%;
  height: 575px;
  background-color: #f8f7f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.page3__fon {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.page3__title {
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.title-info {
  font-size: 15px;
}
.title-big {
  position: absolute;
  bottom: 7px;
}
.page3__info-cards {
  width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  z-index: 2;
}
.info-cards__card {
  width: 30%;
  height: 400px;
  background-color: azure;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 5px;
}
.card__service {
  width: 100%;
  height: 55%;
}
.card__title {
  font-size: 19px;
  position: absolute;
  top: 220px;
  left: 20px;
}
.card__text {
  font-size: 16px;
  color: rgb(119, 119, 110);
  position: absolute;
  top: 250px;
  left: 20px;
}
.page4 {
  width: 100%;
  height: 770px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page4__container {
  width: 945px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container__half-top {
  width: 945px;
  height: 431px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__image {
  width: 375px;
  height: 431px;
  background-image: url("images/оператор.png");
  background-size: 375px;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: center;
  border-radius: 20px;
}
.image__block {
  width: 55%;
  height: 70px;
  background-color: #2c3257;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.image__block-text {
  color: white;
  font-size: 16px;
  position: absolute;
  bottom: 20px;
}
.image__block-number {
  color: white;
  font-size: 22px;
  position: absolute;
  top: 13px;
}
.container__contacts {
  width: 500px;
  height: 431px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
.contacts__subtitle {
  color: #2c3257;
  font-size: 18px;
  position: absolute;
  bottom: 387px;
}
.contacts__question {
  font-size: 40px;
}
.contacts__answer {
  width: 100%;
  height: 60px;
  background-color: #f8f7f0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
}
.answer__place {
  font-size: 17px;
  position: absolute;
  left: 25px;
}
.contacts__messengers {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.messenger {
  width: 80px;
  height: 80px;
  background-color: #2c3257;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.messenger__name {
  width: 70px;
  height: 70px;
}
.container__half-bottom {
  width: 945px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__scale {
  width: 375px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 40px;
  margin-bottom: 85px;
  position: relative;
}
.scale__subtitle {
  color: #2c3257;
  font-size: 18px;
}
.scale__answer {
  font-size: 40px;
  position: absolute;
  top: 10px;
}
.container__info {
  font-size: 15px;
  color: #878680;
  width: 500px;
  height: 150px;
  margin-bottom: 70px;
}
.page5 {
  width: 100%;
  height: 500px;
  background-color: #f8f7f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.page5__subtitle {
  color: #2c3257;
  font-size: 16px;
}
.page5__title {
  font-size: 33px;
  position: absolute;
  top: 17px;
}
.page5__workers {
  width: 98%;
  height: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 95px;
}
.workers__worker {
  width: 16%;
  height: 280px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
  position: relative;
}
.clark {
  background-image: url("People/EC.png");
  background-size: cover;
}
.depp {
  background-image: url("People/JD.png");
  background-size: cover;
}
.reeves {
  background-image: url("People/KR.png");
  background-size: cover;
  background-position: 0px -22px;
}
.robbie {
  background-image: url("People/MR.png");
  background-size: cover;
}
.downey {
  background-image: url("People/RDjr.png");
  background-size: cover;
}
.worker__info {
  width: 72%;
  height: 65px;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
  box-shadow: -3px 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 73px;
  top: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10px;
}

.info__name {
  margin: 0;
  text-align: right;
  font-size: 15px;
}
.info__work {
  margin: 0;
  text-align: right;
  color: #878680;
  font-size: 12px;
}
.basement {
  width: 100%;
  height: 370px;
  background-color: #24231d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.basement-info {
  width: 200px;
  height: 180px;
  margin: 0;
  box-sizing: border-box;
  padding-right: 15px;
  position: relative;
}
.basement-info__logo {
  width: 95%;
}
.company__text {
  color: #a5a49a;
  font-size: 12px;
}
.messengers-end {
  width: 100%;
  height: 50px;
}
.messenger-end {
  width: 35px;
  height: 35px;
}
.messenger__name-end {
  width: 25px;
  height: 25px;
}
.basement__title {
  font-size: 18px;
  color: white;
  margin-top: 10px;
  margin-left: 15px;
}
ul {
  list-style: none;
  margin: 0;
  position: absolute;
  left: -20px;
  bottom: 0px;
}
li {
  background-image: url("icons/list-item-icon.png");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: left center;
  padding-left: 20px;
  margin-bottom: 10px;
}
.news__text {
  font-size: 10px;
  color: white;
  margin-left: 18px;
}
.news__date {
  font-size: 10px;
  color: #eec044;
  margin-left: 18px;
}
.contacts__block {
  position: relative;
}
.contacts__info {
  color: #a5a49a;
  font-size: 12px;
  background-image: none;
}
.email {
  width: 100%;
  height: 40px;
  font-size: 10px;
  color: #a5a49a;
  border: 0;
  border-radius: 5px;
}
.end {
  width: 100%;
  height: 50px;
  background-color: #1f1e17;
  font-size: 12px;
  color: #a5a49a;
  display: flex;
  justify-content: center;
  align-items: center;
}


